In [1]:
import requests
import urllib.request
from bs4 import BeautifulSoup
import pandas as pd
import lxml.html as lh

### This Notebook  build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe .

### For accomplishment of above task i have two options

1)Pandas to read the table into a pandas dataframe.

2)Web scraping is using the BeautifulSoup package.

#### I chose first option which was pandas and for second option i already import essential libraries.

Basically pd.read_html find out all the tables in webpage of given url and send back in form of dataframes, In our case wikipedia page has two tables but we only need first table so i simpliy write df[0].

In [2]:
df = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
df[0]

,Postal Code,Borough,Neighborhood
0,M1A,Not assigned,NaN
1,M2A,Not assigned,NaN
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,NaN
176,M6Z,Not assigned,NaN
177,M7Z,Not assigned,NaN
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,NaN

### As per assignment guidence We have to create dataframe according to some criteria which mention below.

1)The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

2)Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

3)More than one neighborhood can exist in one postal code area. 
For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

4)If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

5)In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [3]:
df1 = df[0].copy()

In [4]:
df1.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

#### Our first criteria completed

In [5]:
df1.Borough.value_counts()  #we have 77 Not assigned borough in dataset we have remove it

Not assigned        77
North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
East Toronto         5
York                 5
East York            5
Mississauga          1
Name: Borough, dtype: int64

In [6]:
df1.isnull().sum()      #we have 77 neighboorhood which are NAN

Postal Code      0
Borough          0
Neighborhood    77
dtype: int64

In [7]:
df1.dropna(inplace=True)

In [8]:
#now we have no any borough which is not assigned and as well no any NAN null value

print(df1.isnull().sum())
print("---------------------------")
print(df1.Borough.value_counts())

Postal Code     0
Borough         0
Neighborhood    0
dtype: int64
---------------------------
North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
East Toronto         5
East York            5
York                 5
Mississauga          1
Name: Borough, dtype: int64

#### Our second criteria completed

In [9]:
df1

,Postal Code,Borough,Neighborhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,Business reply mail Processing Centre
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

#### More than one neighborhood can exist in one postal code area this condition satisfied and our third criteria completed

In [10]:
#here you can see we have no any neighborhood which was empty.
df1.Neighborhood.value_counts().sort_values()

Bathurst Manor, Wilson Heights, Downsview North                                                   1
Humberlea, Emery                                                                                  1
Rosedale                                                                                          1
High Park, The Junction South                                                                     1
Victoria Village                                                                                  1
                                                                                                 ..
Mimico NW, The Queensway West, South of Bloor, Kingsway Park South West, Royal York South West    1
The Beaches                                                                                       1
Willowdale                                                                                        2
Don Mills                                                                                         2
Downsview                                                                                         4
Name: Neighborhood, Length: 98, dtype: int64

#### our forth criteria completed

In [11]:
df1.shape   #we have 103 rows and 3 columns

(103, 3)

#### So, our fifth and all criteria completed

In [12]:
df1.to_csv("toronto_neighborhood_data.csv",index=False,encoding="utf-8")   #save to csv

In [13]:
df2 = pd.read_csv("toronto_neighborhood_data.csv")   #load csv
df2.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government