In [1]:
import numpy as np 
import pandas as pd
from geopy.geocoders import Nominatim

In [2]:
address = 'Toronto, CANADA'

geolocator = Nominatim(user_agent="location-explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The coordinate of Toronto City are {}, {}.'.format(latitude, longitude))

The coordinate of Toronto City are 43.6534817, -79.3839347.

In [3]:
df = pd.read_csv("toronto_neighborhood_data.csv")   #load csv
df.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [4]:
cols = ['Borough_Latitude', 'Borough_Longitude']

borough_loc_df = pd.DataFrame(columns=cols)
borough_loc_df

Empty DataFrame
Columns: [Borough_Latitude, Borough_Longitude]
Index: []

### Just getting the Coordinates of each Borough in our data

In [8]:
for borough_address in df['Borough']:
    location = geolocator.geocode(borough_address)
    borough_latitude = location.latitude
    borough_longitude = location.longitude
    
    borough_loc_df = borough_loc_df.append({'Borough_Latitude':borough_latitude,'Borough_Longitude':borough_longitude},ignore_index=True)
    

borough_loc_df.head()

   Borough_Latitude  Borough_Longitude
0         43.754326         -79.449117
1         43.754326         -79.449117
2         43.654174         -79.380812
3         43.754326         -79.449117
4         43.654174         -79.380812

### here is a link to a csv file that has the geographical coordinates of each postal code: http://cocl.us/Geospatial_data

In [9]:
loc_data = pd.read_csv("Geospatial_Coordinates.csv")
loc_data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

#### Checking the shape of both dataframe before merge

In [10]:
print("Shape of Location data is {}".format(loc_data.shape))
print("Shape of Neighborhood data is {}".format(df.shape))

Shape of Location data is (103, 3)
Shape of Neighborhood data is (103, 3)

In [11]:
df1 = pd.merge(df,loc_data)

In [12]:
df1.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

In [13]:
df1.sample(3)  #check for random sample as well

,Postal Code,Borough,Neighborhood,Latitude,Longitude
74,M5R,Central Toronto,"The Annex, North Midtown, Yorkville",43.672710,-79.405678
20,M5E,Downtown Toronto,Berczy Park,43.644771,-79.373306
71,M1R,Scarborough,"Wexford, Maryvale",43.750072,-79.295849

In [14]:
df1.to_csv("toronto_neighboorhood_coordinate_data.csv",index=False)